body {
    margin: 0;
    padding: 0;
    font-family:  Roboto,  sans-serif;
}

#principal {
    width: 100%;
}

header {
    background-image: url(../imagens/topo.jpg);
    height: 1000px;
    background-size: cover;
    border-top: 1px solid transparent;
}

.header {
    background-color: #112734;
    overflow: auto
}

.menu ul {
    float: left;
    color: rgba(255, 255, 255, .3);
    font-size: 16px;
    letter-spacing: 2px;
    width: 35%;
    margin: 30px 130px 30px;
    transition: 2s color;
}

.menu ul:hover{
    color: rgba(21, 45, 122, 0.7);
    transition: 2s color;

}


.menu li {
    display: inline-block;
    padding-left: 30px;
    text-transform: uppercase;
}

.menu li:hover{
    color: #fff;
    cursor: pointer;
}

.galery {
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.galery .card{
    float: left;
    width: 32%;
    box-sizing: border-box;
}


.galery .card img {
    width: 100%;
    display: block;
}

.galery .card .card-title{
    color: rgb(77, 75, 75);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.galery .card .card-descrip{
    color: rgb(155, 152, 152);
    font-size: 18px;
}

.cards {
    margin-right: 20px;
    margin-bottom: 150px;
}


.about{
    clear: both;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/bg_detalhe.png);
    
    background-position: right bottom;
    background-size: cover;
    border-top: 1px solid transparent;
    color: #fff;
}

.about div{
    width: 95%;
    height: 500px;
    margin-top: 200px;
    margin-left: 150px;

}

.about-elements{
    padding-right: 80px;
}

.about div h2{
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: -20px;
  margin-top: 15px;
  font-weight: bold;
}

.about div p{
    margin-top: 40px;
    width: 30%;
    height: 200px;
  }

.call{
    text-align: center;
    color: #12425e;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.map{
    text-align: center;
}

.footer{
    background-color: #0d1a22;
    width: auto;
    height: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    box-sizing: border-box;
}

.footer p{
    padding-top: 30px;
    letter-spacing: 3px;
}

#tel {
    margin-top: -30px;
}

#logo{
    float: left;
    width: 40%;
    text-align: right;
    
}

.text {
    color: #252424;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    
}

.text h2 {
    font-size: 40px;
}

.text p {
    font-size: 20px;
    line-height: 35px;
    text-indent: center;
    color: rgb(114, 112, 112);
}
